@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

li, button {
	font-family: "Montserrat", "sans-serif";
	font-weight: 500;
	font-size: 16px;
	color: #edf0f1;
	text-decoration: none;
}

header {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 40px 2%;
	background-color: black;
}

h1 {
	margin-right: auto;
	font-family: "Press Start 2P", "cursive";
	font-size: 25px;
	color: white;
}

section {
	background-color: white;
}

footer {
	background-color: black;
	padding: 40px 5%;
	align-items: center;
}

p.e {
	color: grey;
	font-size: 15px;
	font-family: "Arial";
}

.nav_links {
	list-style: none;
}

.nav_links li{
	display: inline-block;
	padding: 10px 10px
}

.nav_links li a{
	transition: all 0.3s ease 0s;
	color: white;
}

.nav_links li a:hover {
	color: black;
}

button {
	margin-left: 20px;
	padding: 9px 25px;
	background-color: #cc3f35;
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
}

button:hover  {
	background-color: #eb938d;
}

header a{
	color: white;
}

a:hover { color: red; }

body{
    background-color: black;
	width: 100%;
	height: 100vh;
    padding: 0 1.5rem;
}

.container{
	width: 100%;
	max-width: 120rem;
	margin: auto;
	padding: 0 1.5rem;
}

.image-gallery{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: auto;
    grid-gap: 1.5rem;
    grid-template-areas:
        'img-1 img-2 img-3 img-3'
        'img-1 img-4 img-6 img-7'
        'img-5 img-5 img-6 img-8'
        'img-9 img-9 img-10 img-10';
}

.image-gallery a{
    width: 100%;
    height: 25rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.image-gallery a i{
    color: rgba(255,255,255,.6);
    font-size: 3rem;
    position: relative;
    z-index: 100;
    padding: 1rem 3rem;
    border: 2px solid rgba(255,255,255,.6);
    border-radius: .4rem;
    opacity: 0;
    transition: opacity .5s;
}

.image-gallery a::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.8);
    opacity: 0;
    transition: opacity .5s;
}

.image-gallery a:hover i,
.image-gallery a:hover::before{
    opacity: 1;
}

.img-1{
    grid-area: img-1;
    min-height: 51.5rem;
    background-image: url("img/Yejin_Ha_01.jpg");
}

.img-2{
    grid-area: img-2;
    background-image: url("img/Yejin_Ha_02.jpg");
}

.img-3{
    grid-area: img-3;
    background-image: url("img/Yejin_Ha_03.jpg");
}

.img-4{
    grid-area: img-4;
    background-image: url("img/Yejin_Ha_04.jpg");
}

.img-5{
    grid-area: img-5;
    background-image: url("img/Yejin_Ha_05.jpg");
}

.img-6{
    grid-area: img-6;
    min-height: 51.5rem;
    background-image: url("img/Yejin_Ha_06.jpg");
}

.img-7{
    grid-area: img-7;
    background-image: url("img/Yejin_Ha_07.jpg");
}

.img-8{
    grid-area: img-8;
    background-image: url("img/Yejin_Ha_08.jpg");
}

.img-9{
    grid-area: img-9;
    background-image: url("img/Yejin_Ha_09.png");
}

.img-10{
    grid-area: img-10;
    background-image: url("img/Yejin_Ha_10.jpg");
}

@media screen and (max-width:1200px){
    .image-gallery{
        grid-template-areas:
        'img-1 img-1 img-2 img-2'
        'img-1 img-1 img-3 img-3'
        'img-4 img-4 img-6 img-6'
        'img-5 img-5 img-6 img-6'
        'img-7 img-7 img-8 img-8'
        'img-9 img-9 img-10 img-10';
    }

    .image-gallery a{
        height: 20rem;
    }

    .img-1, .img-6{
        min-height: 41.5rem;
    }
}

@media screen and (max-width:600px){
    .image-gallery{
        grid-template-areas:
        'img-1 img-1 img-1 img-1'
        'img-1 img-1 img-1 img-1'
        'img-1 img-1 img-1 img-1'
        'img-2 img-2 img-2 img-2'
        'img-2 img-2 img-2 img-2'
        'img-3 img-3 img-3 img-3'
        'img-4 img-4 img-4 img-4'
        'img-4 img-4 img-4 img-4'
        'img-5 img-5 img-5 img-5'
        'img-6 img-6 img-6 img-6'
        'img-7 img-7 img-7 img-7'
        'img-7 img-7 img-7 img-7'
        'img-8 img-8 img-8 img-8'
        'img-9 img-9 img-9 img-9'
        'img-10 img-10 img-10 img-10';
    }

    .image-gallery a{
        height: 20rem;
    }
    .img-2, .img-4, .img-6, .img-7{
        min-height: 41.5rem;
    }
    .img-1{
        min-height: 61.5rem;
    }
}