@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.container-1{
		display:flex;
		position: relative;
		margin: 0 auto;
		width: 100%;
		flex-direction:column;
		/*
		align-items:flex-start;
		align-times:flex-end;
		align-items:center;
	
		flex-direction:column;
		*/
		/*
		justify-content:flex-start;
		justify-content:flex-end;
		justify-content:center;
		justify-content:space-between;
		*/
		}


.container-1 div {
	border:0px grey solid;
	padding:0px;
	}
	
.box-1{
	flex:2;
	order:1;
	width: 100%;
	}	

.content-1{
	position: absolute;
	top: 13.5%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	white-space: nowrap;
	overflow: hidden;
	}
	
.box-2{
	flex:2;
	order:2;
	width: 100%;
	}	

.content-2{
	position: absolute;
	top: 42%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	white-space: nowrap;
	overflow: hidden;
	}

.box-3{
	flex:2;
	order:3;
	width: 100%;
	}	

.content-3 {
	position: absolute;
	top: 69%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	white-space: nowrap;
	overflow: hidden;
	}
	
	
.box-4{
	flex:2;
	order:4;
	width: 100%;
	}	

.content-4 {
	position: absolute;
	top: 91.5%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	white-space: nowrap;
	overflow: hidden;
	}

.overlay-1, .overlay-2, .overlay-3, .overlay-4 {
	opacity: 0;	
}
	
.box-1:hover .overlay-1, .box-2:hover .overlay-2, .box-3:hover .overlay-3, .box-4:hover .overlay-4 {
	opacity: 1
}

.box-1 img, .box-2 img, .box-3 img, .box-4 img {
	opacity: 1;
	display: block;
	width: 100%;
	height: auto;
	transition: .5s ease;
}

.box-1:hover img, .box-2:hover img, .box-3:hover img, .box-4:hover img {
		opacity: .5
	}

section {
	background-color: white;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

li, button {
	font-family: "Montserrat", "sans-serif";
	font-weight: 500;
	font-size: 16px;
	color: #edf0f1;
	text-decoration: none;
}

header {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 40px 2%;
	background-color: black;
}

footer {
	background-color: black;
	padding: 40px 5%;
	align-items: center;
}

h1 {
	margin-right: auto;
	font-family: "Press Start 2P", "cursive";
	font-size: 25px;
	color: white;
}

.nav_links {
	list-style: none;
}

.nav_links li{
	display: inline-block;
	padding: 10px 10px
}

.nav_links li a{
	transition: all 0.3s ease 0s;
	color: white;
}

.nav_links li a:hover {
	color: black;
}

button {
	margin-left: 20px;
	padding: 9px 25px;
	background-color: #cc3f35;
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
}

button:hover  {
	background-color: #eb938d;
}

p.a, p.b, p.c, p.d {
	color: yellow;
	font-size: 30px;
	font-family: "Press Start 2P", "cursive";
}

p.e {
	color: grey;
	font-size: 15px;
	font-family: "Arial";
}

header a{
	color: white;
}

.content-1 a, .content-2 a, .content-3 a, .content-4 a{
	color: #02e602;
}

a:hover { color: red; }
